
.PassPaper{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.netra{
    text-align: center;
    letter-spacing: 1px;
    color: #1c4199;
    font-weight: bold;
}
