.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/13;
    grid-column: 1/5;
    background: linear-gradient(210deg, rgba(41, 41, 113, 0.85) 0%, rgba(4, 142, 231, 0.85) 100%), url(https://www.joinindiannavy.gov.in/images/home_banner/home_banner_1.jpg);
    background-size: cover;
}

.SignUpPaper {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.netra {
    text-align: center;
    letter-spacing: 1px;
    color: #1c4199;
    font-size: 50px;
}

.links {
    /* color:#1c4199; */
    text-decoration: none;
}

.flex {
    display: flex;
    font-size: 18px;
}

.flex div {
    margin: 5px;
}

/* #signUpForm{
    width: 90%;
} */


.inputField {
    width: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
}

.accessLevelInput {
    width: 100%;
    margin-bottom: 10px;
}

.createAccountButton {
    margin-top: 20px;
    width: 100%;
}