.ag-theme-alpine .ag-header{
    /* use theme parameters where possible */
    --ag-header-background-color: #1976d2;
    --ag-header-foreground-color: #fff;
    font-family: "Raleway";
    font-size: 17px;
  }
  .ag-theme-alpine .ag-root-wrapper {
    border: 0;
}
  .ag-theme-alpine .ag-header {
    border-radius: 10px;
  }
  .ag-theme-alpine .ag-row {
    border-radius: 10px;
  } 
.ag-theme-alpine .ag-header-group-cell-label {
  justify-content: center;
}
.ag-header-cell-label {
  justify-content: center;
}
.ag-cell{
  text-align: center;
}
.ag-header-cell-resize{
  background: white;
  width: 1px;
}
.ag-grid-lmu{
  background: cyan;
}

