.flex {
	height: fit-content;
	width: 88vw;
	margin-left: 5%;
  	/* margin-top: 80px; */
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.systemTable {
	grid-row: 4/5;
	grid-column: 3/13;
	height: 100%;
  	width: 80vw;
	margin-left: 8%;
	justify-self: center;
	overflow-y: scroll;
	margin-top: 150px;
}

/* .selectComponent {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 1300px;
	margin-left: 10px;
	margin-bottom: 50px;
} */

.user {
	/* margin: auto; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 20px 30px 20px;
	border-radius: 10px;
	margin-top: 30px;
}

.tableFooter {
	float: right;
}
