.userSelection{
    grid-row: 2/2;
    grid-column: 2/13;
    margin: 20px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-top: 10px;
    height: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 20px 10px;
}
.btn{
    /* height: fit-content; */
    margin: 20px;

}

.content{
    display: flex;
    grid-row: 4/5;
    grid-column: 2/13; 
    margin: 30px 20px 0 20px; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* height: fit-content; */
    border-radius: 10px;

}
.assignDiv{
  grid-row: 3/5;
  grid-column: 2/13; 
  display: flex;
  flex-direction: column;
}
.assignContent{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 20px 0 20px; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: fit-content;
    border-radius: 10px;
}
.tree {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(10deg, #2a2a72, #498fe8);
    /* margin-top: 50px; */
    /* margin-left: 20px; */
    width: 30%;
    border-radius: 10px;
    /* min-height: 700px; */
    /* overflow: auto; */
  }
  .treeChild {
    margin-top: 40px;
    margin-left: 40px;
    height: fit-content;
  }
  .rightSection{
    width: 70%;
    padding: 20px;
  }
  .selectComponent{
      font-size: 20px;
      font-weight: 700;
      width: 40%;
      margin: 30px 0 0 30px;
  }
  .radio{
    font-size: 20px;
    font-weight: 700;
    width: 40%;
    margin: 20px 0 0 30px;
}
.nextbtn{
  float: right;
}

.flex{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btns{
  display: flex;
  flex-direction: column;
}
.btns button{
  margin: 5px;
}
/* .table{
  margin:30px;
} */

.selectContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.importBtnContainer {
  /* margin-top: 10px; */
}
.selectC{
  width: 50%;
  margin-bottom: 15px;
  padding-left: 5px;
}