.userSelection{
    grid-row: 1/2;
    grid-column: 2/13;
    margin: 20px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-top: 10px;
    height: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 20px 10px;
}
.btn{
    height: fit-content;
    margin: 20px;
}

.content{
    display: flex;
    grid-row: 3/5;
    grid-column: 2/13; 
    margin: 30px 20px 0 20px; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: fit-content;
    border-radius: 10px;

}
.assignDiv{
  grid-row: 3/5;
  grid-column: 2/13; 
  display: flex;
  flex-direction: column;
}
.assignContent{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 20px 0 20px; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: fit-content;
    border-radius: 10px;
}
.tree {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(10deg, #2a2a72, #498fe8);
    /* margin-top: 50px; */
    /* margin-left: 20px; */
    width: 30%;
    border-radius: 10px;
    min-height: 700px;
    /* overflow: auto; */
  }
  .treeChild {
    margin-top: 40px;
    margin-left: 40px;
    height: fit-content;
  }
  .rightSection{
    width: 70%;
    padding: 20px;
  }
  .selectComponent{
      font-size: 20px;
      font-weight: 700;
      width: 40%;
      margin: 30px 0 0 30px;
  }
  .radio{
    font-size: 20px;
    font-weight: 700;
    width: 40%;
    margin: 20px 0 0 30px;
}
.nextbtn{
  float: right;
}

.flex{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btns{
  display: flex;
  flex-direction: column;
}
.btns button{
  margin: 5px;
}
.MTypeContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  grid-row: 3/5;
  grid-column: 2/13; 
  margin: 30px 20px 0 20px; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: fit-content;
  border-radius: 10px;
}
.formField{
  display: flex;
  width: 100%;
  align-items: center;
  margin: 10px;
}
.formField label{
  min-width: 200px;
  margin-right: 20px;
}
.input{
  height: 30px;
  width: 70%;
  border: 1px solid black;
  background-color: white;
  border-radius:5px;
  padding-left: 20px;
  font-size: 18px;
}
.mtypeRadio{
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  justify-content: space-around;
}
.cbOptions{
  border: 1px solid black;
  position: absolute;
  top: 50px;
  right:0;
  background-color: rgb(235,235,238);
  padding: 5px;
  z-index: 5;
}

.levels{
  display: flex;
  border: 1px solid cyan;
  border-radius: 10px;
  margin-top: 30px;
}
.levelCol{
  display: flex;
  flex-direction: column;
  border-right: 1px solid cyan;
  justify-content: space-between;
}
.sectionHead{
  background-color: #498fe8;
  color: white;
  margin: 5px;
  min-width: 200px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.levelCol .formField label{
  min-width: 0px;
}
.levelCol .formField .input{
  width: 50%;
}

.submitbtn{
  float: right;
  margin-right: 1rem !important;
}

.rightSection{
  width: 70%;
  padding: 20px;
}

.selectComponent{
  font-size: 20px;
  font-weight: 700;
  width: 40%;
  margin: 30px 0 0 30px;
}

.tablediv{
  margin-top: 3rem;
}