.background {
  grid-row: 1/5;
  grid-column: 1/13;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width:98%;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-top: 200px;
  width: 98%;
}
.img {
  float: right;
  margin-top: 3%;
  margin-right: 40px;
}
.button {
  margin-bottom: 10px;
}
.footer{
  float: right;
}