.userSelection {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
	height: fit-content;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 10px;
	padding: 20px 10px;
}
.userSelect {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
	height: fit-content;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 10px;
	padding: 20px 20px;
	margin-left: 5%;
	margin-right: 4%;
}

.radioRow {
	display: flex;
	flex-direction: row;
}
.flex {
	grid-row: 2/4;
	/* grid-column: 3/13; */
	height: fit-content;
	width: 100vw;
	margin-right: 2%;
	display: flex;
	/* background-color: red; */
	/* margin-left: 4.5%; */
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 20px 20px 30px 20px;
	border-radius: 10px;
}

.formField {
	display: flex;
	width: 85%;
	align-items: center;
	margin: 10px;
}
.formField label {
	margin-right: 20px;
}
.mprofile {
	display: flex;
	justify-content: center;
	/* background-color: red; */
	gap: 1rem;
	align-items: center;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.OptTable {
	width: 39em;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 10px;
	padding: 20px 10px;
	margin-left: 1%;
	margin-right: 1%;
}
.userSele {
	padding: 20px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 10px;
	padding: 20px 10px;
}
.btn {
	position: absolute;
	bottom: 30px;
}
.mainOp {
	padding-right: 25px;
	margin-left: 1%;
}

.noArrows input[type="number"]::-webkit-inner-spin-button,
.noArrows input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.questions {
	text-transform: uppercase;
	padding-bottom: 40px;
}

.question {
	margin-bottom: 20px;
}

.optimizationTable {
	border-collapse: collapse;
	width: 100%;
}

.optimizationTable th,
.optimizationTable td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.optimizationTable th {
	background-color: #f2f2f2;
	font-weight: bold;
}
.body {
	grid-column: 2/13;
	grid-row: 1/5;
	overflow-y: scroll;
	overflow-x: hidden;
}
.module {
	margin: 1% 0 1% 1%;
}
.user {
	margin-left: 1%;
}

.table {
	width: 98%;
	margin: 40px 0 0 1%;
	justify-self: center;
	align-self: center;
}

.tableFooter {
	float: right;
}
