/* :root {
  --primary: #292971;
  --secondary: #048ee7;
  --grey: #ebebed;
  --transition-speed: 600ms;
} */

.container {
  display: grid;
  grid-template-columns: 0.6fr repeat(11, 1fr);
  grid-template-rows: 2vh 10vh 20vh calc(100vh - 10vh - 10vh - 15vh);
  font-weight: bold;
  /* overflow: hidden; */
}


/* scrollbar width */
div::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #fff;
}

/*scrollbar Track */
div::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/*scrollbar Handle */
div::-webkit-scrollbar-thumb {
  background: #026994; 
  border-radius: 10px;
}

/*scrollbar Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #034c6b; 
}